// Importar fontes
@import url('https://fonts.googleapis.com/css?family=Hind+Guntur');

// Importar variáveis
@import 'variables';

// Importar mixins
@import 'mixins';

// Importar layouts
// @import 'layouts/login';

// Importar componentes
@import 'components/form/form';
@import 'components/struct/header';
@import 'components/struct/footer';

*{
    @include mp0;
}

html{
    font-family: 'Hind Guntur', sans-serif;
    color: $preto;
}

body{
    background: #DCE4EA;
}

p{
    line-height: 25px;
    font-size: 14px;
}

svg{
    fill: $preto;
}

a, .select_span{
    &.__inema{
        &:hover{
            color: $cor_primaria_inema;
        }
    }

    &.__sema{
        &:hover{
            color: $cor_primaria_sema;
        }
    }
}

.cor_orgao{
    &.__inema{
        color: $cor_primaria_inema;
    }

    &.__sema{
        color: $cor_primaria_sema;
    }
}

.borda_orgao{
    &.__inema{
        border-color: $cor_primaria_inema;
    }

    &.__sema{
        border-color: $cor_primaria_sema;
    }
}

.bkg_orgao{
    &.__inema{
        background-color: $cor_primaria_inema;
    }

    &.__sema{
        background-color: $cor_primaria_sema;
    }
}

ul{
    list-style: none;

    &.ul_inline{
        li{
            display: inline;
        }
    }
}

.mt-30{
    margin-top: 30px;
}

.flex{
    display: flex;
    flex-flow: row;
    flex-grow: 1;
}

@media (max-width: 767.98px) {
    .flex{
        flex-wrap: wrap;
    }
}

.page_wrap{
    width: 95vw;
    max-width: 1375px;
    background: #FFF;
    margin: 0 auto;
}

.leitura{
    padding: 0 40px 30px;

    h2{
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 25px;
    }

    p{
        font-size: 20px;
        margin-bottom: 25px;
    }
}

aside{
    min-width: 365px;
    border-left: 1px solid #CCC;
    padding: 0 40px;
    box-sizing: border-box;

    .trecho_noticia{

        img{
            width: 284px;
            min-width: 100%;
            min-height: 155px;
            background: #CCC;
        }

        time{
            line-height: 19px;
            font-size: 14px;
            display: block;
        }

        .titulo{
            line-height: 24px;
            font-size: 18px;
            display: block;
            margin-bottom: 5px;;
        }

        .trecho{
            line-height: 19px;
            font-size: 14px;
            display: block;
        }

        a{
            line-height: 19px;
            font-size: 14px;
            text-align: left;
        }
    }

    @media (max-width: 767.98px) {
        &{
            min-width: 200px;
            border-left: none;
        }
    }
}